In [25]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import KFold

In [2]:
# create a simple dataframe
raw_data = {'patient': [1, 1, 1, 2, 2],
        'obs': [1, 2, 3, 1, 2],
        'treatment': [0, 1, 0, 1, 0],
        'score': ['strong', 'weak', 'normal', 'weak', 'strong'],
          'PercentBlood':[10, 80, 15, 44, 12]}
df = pd.DataFrame(raw_data, columns = ['patient', 'obs', 'treatment', 'score','PercentBlood'])
df.head()

   patient  obs  treatment   score  PercentBlood
0        1    1          0  strong            10
1        1    2          1    weak            80
2        1    3          0  normal            15
3        2    1          1    weak            44
4        2    2          0  strong            12

### Using K-Fold Cross Validation from Sklearn
To Do: Add StratifiedKFold, which is used for imbalanced dataset

In [20]:
X = df[['patient','obs','score','PercentBlood']]
Y = df['score']
kf = KFold(n_splits=5)
kf.get_n_splits(X)
for train_index, test_index in kf.split(df):
    print("TRAIN:", train_index, "TEST:", test_index)
    # to access the data, you simply do the following
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]

### Convert Categorical Value to Numerical

In [24]:
encoder = LabelEncoder()
df['score'] = encoder.fit_transform(df['score'])
df.head()

   patient  obs  treatment  score  PercentBlood
0        1    1          0      1            10
1        1    2          1      2            80
2        1    3          0      0            15
3        2    1          1      2            44
4        2    2          0      1            12

In [2]:
data_dir = 'data/'
fname = os.path.join(data_dir, 'jena_climate_2009_2016.csv')

f = open(fname)
data = f.read()
f.close()

lines = data.split('\n')
header = lines[0].split(',')
lines = lines[1:]

float_data = np.zeros((len(lines), len(header) - 1))
for i, line in enumerate(lines):
    values = [float(x) for x in line.split(',')[1:]]
    float_data[i, :] = values
mean = float_data[:200000].mean(axis=0)
float_data -= mean
std = float_data[:200000].std(axis=0)
float_data /= std

In [6]:
header

['"Date Time"',
 '"p (mbar)"',
 '"T (degC)"',
 '"Tpot (K)"',
 '"Tdew (degC)"',
 '"rh (%)"',
 '"VPmax (mbar)"',
 '"VPact (mbar)"',
 '"VPdef (mbar)"',
 '"sh (g/kg)"',
 '"H2OC (mmol/mol)"',
 '"rho (g/m**3)"',
 '"wv (m/s)"',
 '"max. wv (m/s)"',
 '"wd (deg)"']

In [29]:
df.iloc[:2,:]

   patient  obs  treatment  score  PercentBlood
0        1    1          0      1            10
1        1    2          1      2            80

In [4]:
print 'test'

test

In [23]:
scaler = MinMaxScaler(feature_range=(0, 1))
df2 = scaler.fit_transform(df)
df2

array([[0.        , 0.        , 0.        , 0.5       , 0.        ],
       [0.        , 0.5       , 1.        , 1.        , 1.        ],
       [0.        , 1.        , 0.        , 0.        , 0.07142857],
       [1.        , 0.        , 1.        , 1.        , 0.48571429],
       [1.        , 0.5       , 0.        , 0.5       , 0.02857143]])

## Good Pandas Recepie

In [ ]:
'''You can directly parse certain columns while reading the csv/json as dataframe in pandas'''
def parse(x):
    return datetime.strptime(x, '%Y %m %d %H')

dataset = read_csv('data/raw.csv',  parse_dates = [['year', 'month', 'day', 'hour']], \
                   index_col=0, date_parser=parse)